extends layout

block layout-content
  div.View
    h1.Banner FOOD PORTAL
    div.Message
      div.Title
        h3 Food for thought.
    div.NavButtons
      a(href="/user")
          div.NavButton Log In