extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner FOOD PORTAL
    div.Message
      div.Title
        h3 Food for thought.
    div.NavButtons
      if isAuthenticated
        a(href="/user")
          div.NavButton User profile
      else
        a(href="/login")
          div.NavButton Log in